{% extends 'cet/template.html' %}
{% block content %}
<div id="contents" style="padding: 0px; background: white;">
	<div id="curriculum_berkeleymethod">
		<div id="curriculum_berkeleymethod_hero">
			<div id="curriculum_berkeleymethod_hero_line">The</div>
			<div id="curriculum_berkeleymethod_hero_line">Berkeley</div>
			<div id="curriculum_berkeleymethod_hero_line">Method</div>
		</div>
		<div id="curriculum_berkeleymethod_dist">
			<div id="curriculum_berkeleymethod_dist_bar">
				<div id="curriculum_berkeleymethod_dist_bar_theory"></div>
				<div id="curriculum_berkeleymethod_dist_bar_case"></div>
				<div id="curriculum_berkeleymethod_dist_bar_experience"></div>
			</div>
			<div class="curriculum_berkeleymethod_dist_label" style="top: 32px;">
				<div id="curriculum_berkeleymethod_dist_label_stat">25%</div>
				<div id="curriculum_berkeleymethod_dist_label_name">Theory</div>
			</div>
			<div class="curriculum_berkeleymethod_dist_label" style="top: 190px;">
				<div id="curriculum_berkeleymethod_dist_label_stat">25%</div>
				<div id="curriculum_berkeleymethod_dist_label_name">Case</div>
			</div>
			<div class="curriculum_berkeleymethod_dist_label" style="top: 430px;">
				<div id="curriculum_berkeleymethod_dist_label_stat">50%</div>
				<div id="curriculum_berkeleymethod_dist_label_name">Experience</div>
			</div>
		</div>
		<div id="curriculum_berkeleymethod_description">
			Developed at the Center for Entrepreneurship and Technology (CET), the Berkeley Method is a unique pedagogy that employs a three-pronged approach in teaching entrepreneurship: theory, case study, and experiential education.  The hallmark of the Berkeley Method is its heavy emphasis on in situ entrepreneurial activities, competition-based learning, and gamification blended with minimal prescriptive instruction.  Courses incorporate fundamentals in entrepreneurship, leadership, and product management, combined with the latest trends in cutting edge technology (such as mobile, web 2.0, and big data), turning simple group exercises into interesting projects that often result in real world companies. 
		</div>
	</div>
	<div id="curriculum_sequence">
		<div id="curriculum_sequence_cover">
			<div id="curriculum_sequence_background"><img class="img_scaled" src="{{STATIC_URL}}assets/covers/skydeck.jpg" /></div>
			<div id="curriculum_sequence_overlay"></div>
			<div id="curriculum_sequence_hero">The 6-Unit Concentration in Engineering Leadership Program</div>
		</div>
		<div id="curriculum_sequence_content">
			<p class="curriculum_sequence_description">The 6-unit CET Concentration in Engineering Leadership empowers students to become technology leaders through classroom and hands-on study of entrepreneurship and commercialization. Available individually or as part of a program sequence, CET courses are taught with the input of executives and entrepreneurs, and are designed to combine classroom study with experiential learning. Students not pursuing the concentration are welcome to enroll in individual classes. </p>
			<p class="curriculum_sequence_description">Upon completing the 6 unit requirement from the classes listed below, students can earn the CET Concentration in Engineering Leadership Certificate.</p>
			<div id="curriculum_sequence_courses">
				<div class="curriculum_sequence_list">
					<div class="curriculum_sequence_list_header">Fall</div>
					<div class="curriculum_sequence_list_item">
						<div class="curriculum_sequence_list_item_title">E 98/198/298</div>
						<div class="curriculum_sequence_list_item_name">Distinguished Innovator Lecture Series</div>
						<div class="curriculum_sequence_list_item_units">1 Unit, P/NP</div>
					</div>
					<div class="curriculum_sequence_list_item">
						<div class="curriculum_sequence_list_item_title">IEOR 190E</div>
						<div class="curriculum_sequence_list_item_name">Mobile Application Development</div>
						<div class="curriculum_sequence_list_item_units">3 Units</div>
					</div>
					<div class="curriculum_sequence_list_item">
						<div class="curriculum_sequence_list_item_title">IEOR 191</div>
						<div class="curriculum_sequence_list_item_name">Technology Entrepreneurship</div>
						<div class="curriculum_sequence_list_item_units">3 Units</div>
					</div>
				</div>
				<div class="curriculum_sequence_list">
					<div class="curriculum_sequence_list_header">Spring</div>
					<div class="curriculum_sequence_list_item curriculum_sequence_list_item_spring">
						<div class="curriculum_sequence_list_item_title">IEOR 171</div>
						<div class="curriculum_sequence_list_item_name">Technology Leadership</div>
						<div class="curriculum_sequence_list_item_units">3 Units</div>
					</div>
					<div class="curriculum_sequence_list_item curriculum_sequence_list_item_spring">
						<div class="curriculum_sequence_list_item_title">IEOR 190A</div>
						<div class="curriculum_sequence_list_item_name">The Berkeley Method of Entrepreneurship</div>
						<div class="curriculum_sequence_list_item_units">2 or 3 Units</div>
					</div>
					<div class="curriculum_sequence_list_item curriculum_sequence_list_item_spring">
						<div class="curriculum_sequence_list_item_title">IEOR 190C</div>
						<div class="curriculum_sequence_list_item_name">Web 2.0</div>
						<div class="curriculum_sequence_list_item_units">1 or 2 Units</div>
					</div>
					<div class="curriculum_sequence_list_item curriculum_sequence_list_item_spring">
						<div class="curriculum_sequence_list_item_title">IEOR 190D</div>
						<div class="curriculum_sequence_list_item_name">Product Management</div>
						<div class="curriculum_sequence_list_item_units">2 Units</div>
					</div>
					<div class="curriculum_sequence_list_item curriculum_sequence_list_item_spring">
						<div class="curriculum_sequence_list_item_title">IEOR 190F</div>
						<div class="curriculum_sequence_list_item_name">Business Opportunities in Art and Technology</div>
						<div class="curriculum_sequence_list_item_units">1 or 2 Units</div>
					</div>
					<div class="curriculum_sequence_list_item curriculum_sequence_list_item_spring">
						<div class="curriculum_sequence_list_item_title">IEOR 190G</div>
						<div class="curriculum_sequence_list_item_name">Patent Engineering</div>
						<div class="curriculum_sequence_list_item_units">1 or 2 Units</div>
					</div>
				</div>
			</div>
			<div id="curriculum_sequence_info">
				<div class="curriculum_sequence_info_item">
					<div class="curriculum_sequence_info_item_header">An Introduction to CET Programs</div>
					<div class="curriculum_sequence_info_item_content">For those exploring the CET for the ﬁrst time, we recommend the Distinguished Innovator Lecture Series. Bringing real world innovators and issues into the classroom, these classes offer an exciting introduction to the CET course model. Since each speaker is new and topical, these classes may be repeated.</div>
				</div>
				<div class="curriculum_sequence_info_item">
					<div class="curriculum_sequence_info_item_header">Go Deeper</div>
					<div class="curriculum_sequence_info_item_content">For students interested in greater depth and highly applied project experiences, the CET offers a number of evolving project classes that include new venture creation, leadership projects, and technology development projects.</div>
				</div>
				<div class="curriculum_sequence_info_item" style="margin: 0px;">
					<div class="curriculum_sequence_info_item_header">The Complete CET Experience</div>
					<div class="curriculum_sequence_info_item_content">The 6-unit CET Concentration in Engineering Leadership is ideal for students interested in the full program sequence. This concentration empowers students to become technology leaders through classroom and hands-on study of entrepreneurship and commercialization.</div>
				</div>
			</div>
		</div>
		<div id="curriculum_sequence_apply">
			<div id="curriculum_sequence_apply_container">
				<div id="curriculum_sequence_apply_caption">Already finished the requirement?</div>
				<a href="/apply"><div id="curriculum_sequence_apply_button">Apply Here</div></a>
			</div>
		</div>
	</div>
	<div id="curriculum_venturelab">
		<div id="curriculum_venturelab_cover">
			<div id="curriculum_venturelab_background"><img class="img_scaled" src="{{STATIC_URL}}assets/covers/skydeck_2.png" /></div>
			<div id="curriculum_venturelab_overlay"></div>
			<div id="curriculum_venturelab_hero">2013 CET Venture Lab Competition</div>
		</div>
		<div id="curriculum_venturelab_content">
			<div id="curriculum_venturelab_content_ask">What is Venture Lab?</div>
			<p class="curriculum_venturelab_description">The University of California and UC Berkeley’s College of Engineering share an objective to educate engineers and scientists to lead, innovate, and commercialize technology to positively affect economic growth at the state, national, and international levels.</p>
			<p class="curriculum_venturelab_description">Venture Lab is an educational program offered by the Center for Entrepreneurship & Technology (CET) and the Fung Institute for Engineering Leadership, located within the College of Engineering at U.C. Berkeley.</p>
			<p class="curriculum_venturelab_description">Venture Lab provides the critically needed platform for Berkeley participants to launch startup companies in the real-world setting. CET faculty guide the Venture Lab companies in the development of business models, identification of early-stage financing, and capitalization on the CET professional network.</p>
			<div id="curriculum_venturelab_award">
				<div class="curriculum_venturelab_award_item" style="background: #4989DA;">
					<div class="curriculum_venturelab_award_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/venturelab_office.svg" /></div>
					<div class="curriculum_venturelab_award_text">Open Work<br>Space</div>
				</div>
				<div class="curriculum_venturelab_award_item" style="background: #DA4F49;">
					<div class="curriculum_venturelab_award_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/venturelab_mentor.svg" /></div>
					<div class="curriculum_venturelab_award_text">Mentorship<br>and Networking</div>
				</div>
				<div class="curriculum_venturelab_award_item" style="background: #5BB75C;">
					<div class="curriculum_venturelab_award_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/venturelab_money.svg" /></div>
					<div class="curriculum_venturelab_award_text">Financal<br>Support</div>
				</div>
			</div>
			<div id="curriculum_venturelab_dates">
				<div class="curriculum_venturelab_date_box_container">
					<div class="curriculum_venturelab_dates_header">Application Deadline</div>
					<div class="curriculum_venturelab_date_box">
						<div class="curriculum_venturelab_date_month">APRIL</div>
						<div class="curriculum_venturelab_date_day">17</div>
						<div class="curriculum_venturelab_date_dow">Wednesday</div>
					</div>
					<div class="curriculum_venturelab_dates_header" style="right: 0px;">Competition Date</div>
					<div class="curriculum_venturelab_date_box" style="right: 0px;">
						<div class="curriculum_venturelab_date_month">MAY</div>
						<div class="curriculum_venturelab_date_day">1</div>
						<div class="curriculum_venturelab_date_dow">Wednesday</div>
					</div>
				</div>
			</div>
			<div id="curriculum_venturelab_content_howto">How to Apply</div>
			<div class="curriculum_venturelab_content_steps button">
				<div class="curriculum_venturelab_content_steps_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/download.svg" /></div>
				<div class="curriculum_venturelab_content_steps_text">Read the most recent Venture Lab Program Participation Guide</div>
			</div>
			<div class="curriculum_venturelab_content_steps_arrow"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/arrow_down.svg" /></div>
			<div class="curriculum_venturelab_content_steps button">
				<div class="curriculum_venturelab_content_steps_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/download.svg" /></div>
				<div class="curriculum_venturelab_content_steps_text">Download the Application Form</div>
			</div>
			<div class="curriculum_venturelab_content_steps_arrow"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/arrow_down.svg" /></div>
			<div class="curriculum_venturelab_content_steps button">
				<div class="curriculum_venturelab_content_steps_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/venturelab_mentor.svg" /></div>
				<div class="curriculum_venturelab_content_steps_text">Submit your application by Wednesday, April 17, 11:59 PM</div>
			</div>
			<div class="curriculum_venturelab_content_steps_arrow"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/arrow_down.svg" /></div>
			<div class="curriculum_venturelab_content_steps button">
				<div class="curriculum_venturelab_content_steps_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/mail.svg" /></div>
				<div class="curriculum_venturelab_content_steps_text">Wait 7-12 days to be notified</div>
			</div>
		</div>
	</div>
	<div id="bottom_nav">
		<div id="bottom_nav_hero">
			<div id="bottom_nav_logo"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/cet_logo.png" /></div>
			<div id="bottom_nav_title">CET</div>
			<div id="bottom_nav_motto">Innovate. Productize. Commercialize.</div>
			<div class="clear"></div>
		</div>
		<div class="bottom_nav_item_container">
			<div class="bottom_nav_item">
				<div class="bottom_nav_item_header">About Us</div>
				<a href="/about/#about_ourstory"><div class="bottom_nav_item_section">Our Story</div></a>
				<a href="/about/#about_ourteam"><div class="bottom_nav_item_section">Our Team</div></a>
				<a href="/about/#about_theblog"><div class="bottom_nav_item_section">The Blog</div></a>
				<a href="/about/#about_showcase"><div class="bottom_nav_item_section">Featured Companies</div></a>
			</div>
			<div class="bottom_nav_item">
				<div class="bottom_nav_item_header">Curriculum</div>
				<a href="/curriculum/#curriculum_berkeleymethod"><div class="bottom_nav_item_section">The Berkeley Method</div></a>
				<a href="/curriculum/#curriculum_sequence"><div class="bottom_nav_item_section">Curriculum Sequence</div></a>
				<a href="/curriculum/#curriculum_venturelab"><div class="bottom_nav_item_section">Venture Lab Competition</div></a>
				<div class="bottom_nav_item_section">Teach the Teachers</div>
				<div class="bottom_nav_item_section">Research at Fung</div>
			</div>
			<div class="bottom_nav_item">
				<div class="bottom_nav_item_header">Global Programs</div>
				<a href="/global/#global_gte"><div class="bottom_nav_item_section">Tsinghua-Berkeley GTE Center</div></a>
				<a href="/global/#global_aii"><div class="bottom_nav_item_section">Applied Innovations Institute</div></a>
				<a href="/global/#global_glvn"><div class="bottom_nav_item_section">Global Venture Lab Network</div></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock content %}