{% extends 'cet/template.html' %}
{% block content %}
<div id="contents" style="padding: 0px; background: white;">
	<div id="global_hero">
		<div id="global_hero_background"><img class="img_scaled" src="{{STATIC_URL}}assets/covers/global.png" /></div>
		<div id="global_hero_overlay"></div>
		<div id="global_hero_title">Entrepreneurship<br>That Crosses<br>Borders</div>
		<div id="global_hero_summary">In today’s world, opportunities are boundless. The chances for industry-changing innovation and leadership stretch well beyond the geographical boundaries of Berkeley and Silicon Valley. With this in mind, we provide a set of programs that strive to develop an entrepreneurial ecosystem that supports venture creation and innovation at Berkeley, in collaboration with CET's global partners.</div>
	</div>
	<div id="global_gte" class="global_section" style="background: #edeae5;">
		<div id="global_gte_title" class="global_title">Tsinghua-Berkeley GTE Center</div>
		<div id="global_gte_description" class="global_description">The Tsinghua-Berkeley Global Technology Entrepreneurship (GTE) Center is an academic center within the School of Economics and Management at Tsinghua University, Beijing, China.  The GTE Center teaches students from all academic disciplines at Tsinghua University - mostly engineering, science, and business – on the know-how of starting a technological venture.  Established in 2008 by UC Berkeley’s Center for Entrepreneurship & Technology (CET) and fashioned after Berkeley’s unique pedagogy of teaching entrepreneurship called the Berkeley Method, GTE has localized the Berkeley curriculum for the Tsinghua population and doubled program capacity within the first three years.  Both centers share the same mission of equipping engineers and scientists with the skills to innovate, productize, and commercialize technology in the global economy.</div>
	</div>
	<div id="global_aii" class="global_section" style="background: #f7f5f2;">
		<div id="global_gte_title" class="global_title">Applied Innovations Institute</div>
		<div id="global_gte_description" class="global_description">The Applied Innovation Institute is about nurturing tomorrow's Innovators and Entrepreneurs.  We work with leading academics around the globe to ensure that they have the tools and capabilities to teach the next generation about innovation.  Through our academic and global competitions, we help the Universities deliver on their Innovation and Entrepreneurship programs and create the events that allow students to practice what they have learned in the classroom on a global stage.  Through our competitions, students improve their game through actually doing innovation and entrepreneurship.</div>
	</div>
	<div id="global_glvn" class="global_section" style="background: white;">
		<div id="global_gte_title" class="global_title">Global Venture Lab Network</div>
		<div id="global_gte_description" class="global_description">The Global Venture Lab is an international alliance of academic institutions sharing common research and educational programs that are likely to lead to new industry and economic growth. The goal of the network is to share best practices to foster innovation and entrepreneurship in a university environment with the intent to help create new companies and industries.</div>
		<div id="global_gte_inst">
			<div class="global_gte_inst_header">Americas</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/chile.jpg" /></div>
				<div class="global_gte_inst_item_name">Pontificia Universidad Católica de Chile</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/stanford.png" /></div>
				<div class="global_gte_inst_item_name">Stanford University</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/berkeley_global.jpg" /></div>
				<div class="global_gte_inst_item_name">UC Berkeley</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ucsb.jpg" /></div>
				<div class="global_gte_inst_item_name">UC Santa Barbara</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/uiuc.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Illinois, Urbana-Champaign</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/michigan.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Michigan</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/texas.gif" /></div>
				<div class="global_gte_inst_item_name">University of Texas, Austin</div>
			</div>
			<div class="clear"></div>
			<div class="global_gte_inst_header">Asia</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/hkust.jpg" /></div>
				<div class="global_gte_inst_item_name">Hong Kong University of Science & Technology</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/iit.jpg" /></div>
				<div class="global_gte_inst_item_name">India Institute of Technology, Kharagpur</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/saud.jpg" /></div>
				<div class="global_gte_inst_item_name">King Saud University</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/singapore.jpg" /></div>
				<div class="global_gte_inst_item_name">National University of Singapore</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/tsinghua.jpg" /></div>
				<div class="global_gte_inst_item_name">Tsinghua University</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/hongkong.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Hong Kong</div>
			</div>
			<div class="clear"></div>
			<div class="global_gte_inst_header">Austrailia</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/melbourne.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Melbourne</div>
			</div>
			<div class="clear"></div>
			<div class="global_gte_inst_header">Europe</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ie.jpg" /></div>
				<div class="global_gte_inst_item_name">IE Business School</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/wolfgang.jpg" /></div>
				<div class="global_gte_inst_item_name">Johann Wolfgang Goethe University Frankfurt am Main</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/torino.jpg" /></div>
				<div class="global_gte_inst_item_name">Politecnico di Torino</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/eth.jpg" /></div>
				<div class="global_gte_inst_item_name">Swiss Federal Institute of Technology</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/denmark.jpg" /></div>
				<div class="global_gte_inst_item_name">Technical University of Denmark</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/finland.jpg" /></div>
				<div class="global_gte_inst_item_name">GVL Finland</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ucl.jpg" /></div>
				<div class="global_gte_inst_item_name">University College London</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/bristol.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Bristol</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/cambridge.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Cambridge</div>
			</div>
			<div class="global_gte_inst_item">
				<div class="global_gte_inst_item_thumbnail"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/manchester.jpg" /></div>
				<div class="global_gte_inst_item_name">University of Manchester</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="bottom_nav">
		<div id="bottom_nav_hero">
			<div id="bottom_nav_logo"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/cet_logo.png" /></div>
			<div id="bottom_nav_title">CET</div>
			<div id="bottom_nav_motto">Innovate. Productize. Commercialize.</div>
			<div class="clear"></div>
		</div>
		<div class="bottom_nav_item_container">
			<div class="bottom_nav_item">
				<div class="bottom_nav_item_header">About Us</div>
				<a href="/about/#about_ourstory"><div class="bottom_nav_item_section">Our Story</div></a>
				<a href="/about/#about_ourteam"><div class="bottom_nav_item_section">Our Team</div></a>
				<a href="/about/#about_theblog"><div class="bottom_nav_item_section">The Blog</div></a>
				<a href="/about/#about_showcase"><div class="bottom_nav_item_section">Featured Companies</div></a>
			</div>
			<div class="bottom_nav_item">
				<div class="bottom_nav_item_header">Curriculum</div>
				<a href="/curriculum/#curriculum_berkeleymethod"><div class="bottom_nav_item_section">The Berkeley Method</div></a>
				<a href="/curriculum/#curriculum_sequence"><div class="bottom_nav_item_section">Curriculum Sequence</div></a>
				<a href="/curriculum/#curriculum_venturelab"><div class="bottom_nav_item_section">Venture Lab Competition</div></a>
				<div class="bottom_nav_item_section">Teach the Teachers</div>
				<div class="bottom_nav_item_section">Research at Fung</div>
			</div>
			<div class="bottom_nav_item">
				<div class="bottom_nav_item_header">Global Programs</div>
				<a href="/global/#global_gte"><div class="bottom_nav_item_section">Tsinghua-Berkeley GTE Center</div></a>
				<a href="/global/#global_aii"><div class="bottom_nav_item_section">Applied Innovations Institute</div></a>
				<a href="/global/#global_glvn"><div class="bottom_nav_item_section">Global Venture Lab Network</div></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock content %}