<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!--load stylesheets, favicon, and scripts-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/style_panel.css" />
	<script type="text/javascript" src="{{STATIC_URL}}/jquery-1.8.3.min.js" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/jquery-ui-1.9.2.min.js"></script>
    <script src="{{STATIC_URL}}/jquery_masonry_min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/script_panel.js" charset="utf-8"></script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CET 2.0 | Panel</title>
</head>
<body>

<div id="header">
	<div id="title">
		<div id="title_large">CET 2.0</div>
		<div id="title_medium">Panel</div>
	</div>
	<div id="nav">
		<a href="/admin/users"><div id="nav_item_users" class="nav_item">Users</div></a>
		<a href="/admin/posts"><div id="nav_item_posts" class="nav_item">Posts</div></a>
		<a href="/admin/certificate"><div id="nav_item_certificates" class="nav_item">Certificates</div></a>
		<a href="/admin/content"><div id="nav_item_content" class="nav_item" style="border-bottom: 1px solid #5BB75C;">Content</div></a>
	</div>
</div>
<div id="main">
	<div id="toolbox">
		<div id="toolbox_edit">
			<div id="toolbox_edit_caption">Select Content to Edit</div>
			<a href="/admin/content/about"><div class="toolbox_edit_item">About</div></a>
			<a href="/admin/content/curriculum"><div class="toolbox_edit_item">Curriculum</div></a>
			<a href="/admin/content/global"><div class="toolbox_edit_item">Global Programs</div></a>
		</div>
		<div class="clear"></div>
	</div>
	<div id="content">
		<div class="item">
			<div class="item_static_header">Description</div>
			<div class="item_static_content">
				In today’s world, opportunities are boundless. The chances for industry-changing innovation and leadership stretch well beyond the geographical boundaries of Berkeley and Silicon Valley. With this in mind, we provide a set of programs that strive to develop an entrepreneurial ecosystem that supports venture creation and innovation at Berkeley, in collaboration with CET's global partners.
			</div>
		</div>
		<div class="item">
			<div class="item_static_header">Tsinghua-Berkeley GTE Center</div>
			<div class="item_static_content">
				The Tsinghua-Berkeley Global Technology Entrepreneurship (GTE) Center is an academic center within the School of Economics and Management at Tsinghua University, Beijing, China. The GTE Center teaches students from all academic disciplines at Tsinghua University - mostly engineering, science, and business – on the know-how of starting a technological venture. Established in 2008 by UC Berkeley’s Center for Entrepreneurship & Technology (CET) and fashioned after Berkeley’s unique pedagogy of teaching entrepreneurship called the Berkeley Method, GTE has localized the Berkeley curriculum for the Tsinghua population and doubled program capacity within the first three years. Both centers share the same mission of equipping engineers and scientists with the skills to innovate, productize, and commercialize technology in the global economy.
			</div>
		</div>
		<div class="item">
			<div class="item_static_header">Applied Innovations Institute</div>
			<div class="item_static_content">
				The Applied Innovation Institute is about nurturing tomorrow's Innovators and Entrepreneurs. We work with leading academics around the globe to ensure that they have the tools and capabilities to teach the next generation about innovation. Through our academic and global competitions, we help the Universities deliver on their Innovation and Entrepreneurship programs and create the events that allow students to practice what they have learned in the classroom on a global stage. Through our competitions, students improve their game through actually doing innovation and entrepreneurship.
			</div>
		</div>
		<div class="item">
			<div class="item_static_header">Global Venture Lab Network</div>
			<div class="item_static_content">
				The Global Venture Lab is an international alliance of academic institutions sharing common research and educational programs that are likely to lead to new industry and economic growth. The goal of the network is to share best practices to foster innovation and entrepreneurship in a university environment with the intent to help create new companies and industries.
			</div>
		</div>
	</div>
</div>

</body>
</html>