<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!--load stylesheets, favicon, and scripts-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/style_panel.css" />
	<script type="text/javascript" src="{{STATIC_URL}}/jquery-1.8.3.min.js" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/jquery-ui-1.9.2.min.js"></script>
    <script src="{{STATIC_URL}}/jquery_masonry_min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/script_panel.js" charset="utf-8"></script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CET 2.0 | Panel</title>
</head>
<body>
<div id="data">
	<div id="params_panel_type">Posts</div>
	<div id="params_keyword">{{keyword}}</div>
	<div id="params_filter">{{filter}}</div>
	<div id="params_page">{{page}}</div>
	<div id="params_last_post">{{post_end}}</div>
	<div id="params_total_posts">{{total_posts}}</div>
	<div id="params_searchby">{{searchby}}</div>
	<div id="csrf">{% csrf_token %}</div>
</div>
<div id="header">
	<div id="title">
		<div id="title_large">CET 2.0</div>
		<div id="title_medium">Panel</div>
	</div>
	<div id="nav">
		<a href="/admin/users"><div id="nav_item_users" class="nav_item">Users</div></a>
		<a href="/admin/posts"><div id="nav_item_posts" class="nav_item" style="border-bottom: 1px solid #4989DA;">Posts</div></a>
		<a href="/admin/certificate"><div id="nav_item_certificates" class="nav_item">Certificates</div></a>
		<a href="/admin/content"><div id="nav_item_content" class="nav_item">Content</div></a>
	</div>
</div>
<div id="main">
	<div id="toolbox">
		<div id="toolbox_search_container">
			<form id="toolbox_search_post" data-type="title">
			<div id="toolbox_search">
				<div id="toolbox_search_caption">Title</div>
				<input id="toolbox_search_input" />
			</div>
			</form>
			<div id="toolbox_search_submit"><img class="img_scaled" src="/static/assets/icons/search_light.svg" /></div>
			<div id="toolbox_search_filter" data-filter="Any Post">
				<div id="toolbox_search_filter_arrow"></div>
				<div id="toolbox_search_filter_selected">Any Post</div>
				<div id="toolbox_search_filter_list">
					<div id="toolbox_search_filter_list_arrow"></div>
					<div id="toolbox_search_filter_list_header"></div>
					<div class="toolbox_search_filter_list_item">Any Post</div>
					<div class="toolbox_search_filter_list_item">Free Post</div>
					<div class="toolbox_search_filter_list_item">Events</div>
					<div class="toolbox_search_filter_list_item">Team Building</div>
					<div class="toolbox_search_filter_list_item">Startup Posting</div>
					<div class="toolbox_search_filter_list_item">Mentoring</div>
					<div class="toolbox_search_filter_list_item">Fundraising</div>
				</div>
			</div>

			<div id="toolbox_search_alternative">
				<div id="toolbox_search_alt_author" class="toolbox_search_alt">Search by Author</div>
				<div id="toolbox_search_alt_title" class="toolbox_search_alt" style="display: none;">Search by Title</div>
			</div>
		</div>
		<div id="toolbox_page">
			{% if page == 1 %}
				<div id="toolbox_page_prev" data-type="post"><img class="img_scaled" src="/static/assets/icons/arrow_left_light.svg" /></div>
			{% else %}
				<div id="toolbox_page_prev" data-type="post"><img class="img_scaled" src="/static/assets/icons/arrow_left_dark.svg" /></div>
			{% endif %}
			
			<div id="toolbox_page_count"> {{post_start}} to {{post_end}} of {{total_posts}}</div>
			
			{% if post_end == total_posts %}
				<div id="toolbox_page_next" data-type="post"><img class="img_scaled" src="/static/assets/icons/arrow_right_light.svg" /></div>
			{% else %}
				<div id="toolbox_page_next" data-type="post"><img class="img_scaled" src="/static/assets/icons/arrow_right_dark.svg" /></div>
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
	<div id="content">
		{% for post in posts %}
			{% include "components/panel_post_item.html" %}
		{% endfor %}
	</div>
</div>

</body>
</html>