<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!--load stylesheets, favicon, and scripts-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/style_panel.css" />
	<script type="text/javascript" src="{{STATIC_URL}}/jquery-1.8.3.min.js" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/jquery-ui-1.9.2.min.js"></script>
    <script src="{{STATIC_URL}}/jquery_masonry_min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/script_panel.js" charset="utf-8"></script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CET 2.0 | Panel</title>
</head>
<body>

<div id="header">
	<div id="title">
		<div id="title_large">CET 2.0</div>
		<div id="title_medium">Panel</div>
	</div>
	<div id="nav">
		<a href="/admin/users"><div id="nav_item_users" class="nav_item">Users</div></a>
		<a href="/admin/posts"><div id="nav_item_posts" class="nav_item">Posts</div></a>
		<a href="/admin/certificate"><div id="nav_item_certificates" class="nav_item">Certificates</div></a>
		<a href="/admin/content"><div id="nav_item_content" class="nav_item" style="border-bottom: 1px solid #5BB75C;">Content</div></a>
	</div>
</div>
<div id="main">
	<div id="toolbox">
		<div id="toolbox_edit">
			<div id="toolbox_edit_caption">Select Content to Edit</div>
			<a href="/admin/content/about"><div class="toolbox_edit_item">About</div></a>
			<a href="/admin/content/curriculum"><div class="toolbox_edit_item">Curriculum</div></a>
			<a href="/admin/content/global"><div class="toolbox_edit_item">Global Programs</div></a>
		</div>
		<div class="clear"></div>
	</div>
	<div id="content">
		<div class="item">
			<div class="item_static_header">The Berkeley Method</div>
			<div class="item_static_content">
				Developed at the Center for Entrepreneurship and Technology (CET), the Berkeley Method is a unique pedagogy that employs a three-pronged approach in teaching entrepreneurship: theory, case study, and experiential education. The hallmark of the Berkeley Method is its heavy emphasis on in situ entrepreneurial activities, competition-based learning, and gamification blended with minimal prescriptive instruction. Courses incorporate fundamentals in entrepreneurship, leadership, and product management, combined with the latest trends in cutting edge technology (such as mobile, web 2.0, and big data), turning simple group exercises into interesting projects that often result in real world companies.
			</div>
		</div>
		<div class="item">
			<div class="item_static_header">Engineering Leadership Program</div>
			<div class="item_static_content">
				<div class="item_static_content_item">
					<div class="item_static_subheading">
					Description
					</div>
					<div class="item_static_content_item_content">
						The 6-unit CET Concentration in Engineering Leadership empowers students to become technology leaders through classroom and hands-on study of entrepreneurship and commercialization. Available individually or as part of a program sequence, CET courses are taught with the input of executives and entrepreneurs, and are designed to combine classroom study with experiential learning. Students not pursuing the concentration are welcome to enroll in individual classes.
					</div>
				</div>
				<div class="item_static_content_item">
					<div class="item_static_subheading">
					An Introduction to CET Programs
					</div>
					<div class="item_static_content_item_content">
						For those exploring the CET for the ﬁrst time, we recommend the Distinguished Innovator Lecture Series. Bringing real world innovators and issues into the classroom, these classes offer an exciting introduction to the CET course model. Since each speaker is new and topical, these classes may be repeated.
					</div>
				</div>
				<div class="item_static_content_item">
					<div class="item_static_subheading">
					Go Deeper
					</div>
					<div class="item_static_content_item_content">
						For students interested in greater depth and highly applied project experiences, the CET offers a number of evolving project classes that include new venture creation, leadership projects, and technology development projects.
					</div>
				</div>
				<div class="item_static_content_item">
					<div class="item_static_subheading">
					The Complete CET Experience
					</div>
					<div class="item_static_content_item_content">
						The 6-unit CET Concentration in Engineering Leadership is ideal for students interested in the full program sequence. This concentration empowers students to become technology leaders through classroom and hands-on study of entrepreneurship and commercialization.
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="item_static_header">Venture Lab Competition</div>
			<div class="item_static_content">
				The University of California and UC Berkeley’s College of Engineering share an objective to educate engineers and scientists to lead, innovate, and commercialize technology to positively affect economic growth at the state, national, and international levels.

Venture Lab is an educational program offered by the Center for Entrepreneurship & Technology (CET) and the Fung Institute for Engineering Leadership, located within the College of Engineering at U.C. Berkeley.

Venture Lab provides the critically needed platform for Berkeley participants to launch startup companies in the real-world setting. CET faculty guide the Venture Lab companies in the development of business models, identification of early-stage financing, and capitalization on the CET professional network.
			</div>
		</div>
	</div>
</div>

</body>
</html>