<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!--load stylesheets, favicon, and scripts-->
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="jquery-1.8.3.min.js" charset="utf-8"></script>
    <script src="jquery-ui-1.9.2.min.js"></script>
    <script src="jquery_masonry_min.js"></script>
    <script type="text/javascript" src="script.js" charset="utf-8"></script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CET 2.0</title>
</head>
<body>
	<div id="container">
		<div id="left_container">
			<div id="coverflow">
				<div id="coverflow_overlay"></div>
				<div id="coverflow_wrapper">
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail7.jpg" /></div>
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail6.jpg" /></div>
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail5.jpg" /></div>
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail4.jpg" /></div>
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail3.jpg" /></div>
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail2.jpg" /></div>
					<div class="coverflow_thumbnail"><img class="img_scaled" src="assets/thumbnails/thumbnail1.jpg" /></div>
				</div>
			</div>
			<div id="menu">
				<div id="menu_header">CET</div>
				<div id="menu_user">
					<div id="menu_user_thumbnail"><img class="img_scaled" src="users/roka371/profile.jpg" /></div>
					<div id="menu_user_username">Shawn Park</div>
				</div>
				<div class="menu_item">Feed</div>
				<div class="menu_item">About Us</div>
				<div class="menu_item menu_item_active">Curriculum</div>
				<div class="menu_item">Global</div>
			</div>
			<div id="charm">
				<div id="charm_item_messages" class="charm_item"><img class="img_scaled" src="assets/icons/messages.svg" /></div>
				<div id="charm_item_notification" class="charm_item"><img class="img_scaled" src="assets/icons/notification.svg" style="width: 24px;" /></div>
				<div id="charm_item_settings" class="charm_item"><img class="img_scaled" src="assets/icons/settings.svg" /></div>
			</div>
		</div>
		<div id="right">
			<div id="submenu">
				<a href="apply.html"><div id="apply_cet">Apply for<br>CET Certificate</div></a>
				<div id="submenu_title" style="font-size: 36px;">Curriculum</div>
				<div id="search"><input type="text" placeholder="Search anything" /></div>
				<div id="categories">
					<div id="categories_header" style="width: 58px;">Sections</div>
					<div id="categories_list">
						<div class="categories_option">The Berkeley Method</div>
						<div class="categories_option">Curriculum Sequence</div>
						<div class="categories_option">Teach the Teachers</div>
						<div class="categories_option">CET Certification</div>
					</div>
				</div>
			</div>
			<div id="contents">
				<div id="contents_wrapper" style="padding-bottom: 150px;">
					<div id="contents_box">
						<div id="apply_header">
							<div id="apply_cover"><img class="img_scaled" src="assets/covers/apply_cover.jpg" /></div>
							<div id="apply_header_box">
								<div id="apply_title">Apply for CET Certification of Leadership</div>
								<div id="apply_caption">The 6-unit CET Concentration in Engineering Leadership empowers students to become technology leaders through classroom and hands-on study of entrepreneurship and commercialization. Students not pursuing the concentration are welcome to enroll in individual classes.</div>
							</div>
						</div>
						<div id="apply_submit_box">
							<div id="apply_submit_heading">Your application has been submitted.</div>
							<div id="apply_submit_subheading">We will get back to you after your credits are verified and the concentration recognitions are printed. We will email you when the recognition award is ready for pick up. You can also check the status of your application in your CET 2.0 Dashboard.</div>
							<div id="apply_submit_dashboard">Dashboard</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>